@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100..900&display=swap');

// Tipografiaa
$fuente-principal: 'Encode Sans', sans-serif;

// Colores
$color-primario: #68c5d0;
$color-texto: #242424;
$color-terciario: #e8eef5;
$color-fondo-claro: #f7f9fb;
$color-blanco: #ffffff;
$color-hover: #8e9c9c;